{% extends 'base-back-office.html.twig' %}



{% block mainContent  %}



    {{ include('reponse/_form.html.twig', {'button_label': 'Update'}) }}


    <a href="{{ path('reponse_index') }}">Retour</a>

    {{ include('reponse/_delete_form.html.twig') }}
{% endblock %}
