{% extends 'base-back-office.html.twig' %}

{% block title %}Edit Reponse{% endblock %}

{% block mainContent  %}


<br>
    <br>
    <br>
<main id="main" class="main">

    <div class="pagetitle">

        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Tables</li>
                <li class="breadcrumb-item active">General</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
<section class="section">
    <div class="row">

        <div class="col-lg-6">

        </div>

        <div class="card">
            <div class="card-body">

   <{{ include('reponse/_form.html.twig',  {'button_label': 'modifier'}) }}
    <br>

    <a  class="btn btn-warning" href="{{ path('reponse_index') }}">Retour</a>
    <br>
<br>

 <a class="btn btn-warning"  > {{ include('reponse/_delete_form.html.twig') }}</a>
            </div>
        </div>

    </div>
    </div>
</section>

{% endblock %}
