{% extends 'base-back-office.html.twig' %}

{% block title %}Edit Reponse{% endblock %}

{% block mainContent  %}


<br>
    <br>
    <br>



   <{{ include('reponse/_form.html.twig',  {'button_label': 'modifier'}) }}
    <br>

    <a  class="btn btn-warning" href="{{ path('reponse_index') }}">Retour</a>
    <br>
<br>

 <a class="btn btn-warning"  > {{ include('reponse/_delete_form.html.twig') }}</a>
{% endblock %}
