{% extends 'base-back-office.html.twig' %}
   {% block mainContent %}
    <h1>modifier</h1>

    {{ include('reponse/_form.html.twig', {'button_label': 'modifier'}) }}

    <a href="{{ path('reponse_index') }}">Retour</a>

    {{ include('reponse/_delete_form.html.twig') }}

{% endblock %}