<form method="post" action="{{ path('product_delete_cart', {'id': cartprods.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cartprods.id) }}">
    <button class="btn btn-danger" style="width: auto;">Delete</button>
</form>
