<form method="post" action="{{ path('typeexercice_delete', {'id': typeexercice.id}) }}"  onsubmit="return confirm('Are you sure you want to delete this item?');    ">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ typeexercice.id) }}">
    <button class="btn btn-danger"">Delete</button>
</form>
