{% extends 'base-back-office.html.twig' %}

{% block title %}New Aliment{% endblock %}

{% block mainContent %}
    <h1>Create new Aliment</h1>

    {{ include('aliment_crud/_form.html.twig') }}

    <a href="{{ path('aliment_crud_index') }}">back to list</a>
{% endblock %}
