
{% extends 'base.html.twig' %}

{% block title %}contact{% endblock %}

{% block body %}
{% for message in app.flashes('message')%}
<div class="alert alert-success" role="alert">
{{ message }}
</div>
{% endfor %}
<h1>nous contacter</h1>
{{ form(Contactform) }}
{% endblock %}
