{% extends 'base-front-office.html.twig' %}
   {% block mainContent %}
    <h1>modifier</h1>

    {{ include('reclamer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('reclamer_index') }}">Retour</a>

    {{ include('reclamer/_delete_form.html.twig') }}

{% endblock %}